karto.zip
*.old
*.zip
*.tar
*.swp
toto*
karto.jco
karto.dafang
programada_medio/fontoj/*/*.o
programada_medio/fontoj/rtsp_server/rtsp_server
programada_medio/fontoj/motor/motor

programada_medio/fontoj/test*


