karto.zip
*.old
*.zip
*.tar
*.swp
*.jar
*~
toto*
karto.*
programada_medio/fontoj/lumsensilo/lumsensilo
programada_medio/fontoj/rtsp_server/rtsp_server
programada_medio/fontoj/motor/motor
programada_medio/fontoj/dropbear
programada_medio/fontoj/live
programada_medio/fontoj/*/*.o
programada_medio/fontoj/*/*/*.o
programada_medio/fontoj/test*
programada_medio/share/
programada_medio/fontoj/lighttpd1.4
programada_medio/fontoj/busybox
programada_medio/fontoj/curl
programada_medio/fontoj/valgrind*
